torch>=2.0.0
torchvision>=0.15.0
torchaudio>=2.0.0
torch-ema
ninja
trimesh
opencv-python-headless
tensorboardX
numpy
pandas
tqdm
matplotlib
PyMCubes
rich
dearpygui
scipy
huggingface_hub
diffusers
transformers
xatlas
scikit-learn
imageio
imageio-ffmpeg
accelerate
tensorboard
kornia
torch_efficient_distloss